# Specifying PUBLIC_URL in the .env file is equivalent to setting homepage in package.json but allows other environment variables to override it.
# using PUBLIC_URL in .env files might be preferred in specific cases where the homepage is not the same for all developers or all environments or is not known at build time, in CI/CD pipelines, when base paths might change without rebuilding the app, when using container orchestration systems that inject environment variables.
# In the current setup with nginx and Docker, the static homepage approach in package.json is more appropriate.
# PUBLIC_URL has a special meaning in Create React App. Normally, Create React App ignores the hostname. You may use absolute paths for the homepage in your package.json to override this behavior, but it is not recommended.
# Note that the development build is not optimized. To create a production build, use npm run build.
# Learn more: https://cra.link/env
#PUBLIC_URL=/app1